<section class="signup">

{{#if messages.length}}
    <h3 class="error-msg">{{messages}}</h3>
{{/if}}
<form method="POST" action="/auth/signup" class="login-signup-form">
  <div class="login-signup-container">
    <h2 class="form-title">Sign Up</h2>
    <div class="field">
      <input type="text" name="username" placeholder="Username" class="login-signup-input" />
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="Password" class="login-signup-input" />
    </div>

    <div class="field submit">
      <button type="submit">Sign up</button>
    </div>
    <p>Already have an account?</p>
    </div>
    <div>
      <a href="/"><b>Log in</b></a>
    </div>
</form>


</section>