<section class="signup-container">
<form method="POST" action="/auth/signup" class="login-signup-form">
  <div class="login-signup-container">
    <h1 class="form-title">Create new user</h1>
    <div class="field">
      <input type="text" name="username" placeholder="Username" class="login-signup-input" />
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="Password" class="login-signup-input" />
    </div>

    <div class="field submit">
      <button type="submit">Sign up</button>
    </div>
    <p>Already have an account? Log in <a href="/auth/login"><b>here</b></a></p>
    </div>
</form>

{{#if messages.length}}
  <h3>{{messages}}</h3>
{{/if}}
</section>