<section class="create-edit-activity">
  {{#if messages.length}}
    <h3 class="error-msg">{{messages}}</h3>
  {{/if}}
<form method="POST" action="/activities" class="activity-form" enctype="multipart/form-data">
  <div class="activity-container">
    <h1 class="header-create">Create activity</h1>
    <div class="field">
      <input type="text" class="activity-input" name="name" placeholder="Name*" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="country" placeholder="Country*" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="city" placeholder="City*" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="address" placeholder="Address" />
    </div>

    <div class="field">
      <select name="type" class="activity-input activity-type-select" placeholder="Type of activity*">
        <option disabled selected>Type of activity</option>
        <option >Social</option>
        <option >Nature</option>
         <option >Museums</option>
        <option >Guides</option>
        <option >Restaurants</option>
        <option >Sport</option>
        <option >Shopping</option>
      </select>
    </div>

    <div class="field">
      <input type="number" class="activity-input" name="price" placeholder="Price*" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="reservation" placeholder="Reservation URL if needed" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="description" placeholder="Description" />
    </div>



  
    <input type='file' class="activity-input upload-btn" name='photoURL' accept="image/*" value="photo"/>

    

    <div class="field submit create">
      <button type="submit">Create</button>
    </div>

  </div>
</form>


</section>



