<section class="welcome">

  <h1 class="welcome-title">Welcome to</h1>
  <h1 class="welcome-title main-title">Guideller</h1>

  {{#if messages.length}}
    <h3 class="error-msg">{{messages}}</h3>
  {{/if}}
  
  <form method="POST" action="/auth/login" class="login-signup-form">
    <div class="login-signup-container">
      <h2 class="form-title">Log In</h2>
    <div class="field">
      <input type="text" name="username" placeholder="Username" class="login-signup-input" />
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="Password" class="login-signup-input" />
    </div>

    <div class="field submit">
      <button type="submit">Log in</button>
    </div>
    <p>Not a member?</p>
    </div>
    <div><a class="signup-link" href="/auth/signup"><b>Sign up</b></a></div>
  </form>

  
</section>