<!DOCTYPE html>
<html>

<head>
  <title>Guideller</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <nav class="nav-container">
    
    
    {{#unless currentUser}}
    <div class="welcome-navbar">
      <p class="logo-title">GUIDELLER</p>
      <img src="/images/world.svg" alt="" class="logo-img-notlog">
    </div>
    {{else}}
    <input type="button" value="<" onclick="window.history.back()" class="back-btn" /> 
    <img src="/images/world.svg" alt="" class="logo-img">
    <div class="log-out profile">
      <div class="user-info"><p style="margin-bottom: 2px;"><b>{{currentUser.username}}</b></p></div>
    </div>
    {{/unless}}
  </nav>
  {{{body}}}
  {{#if currentUser}}
    <footer>
      <a href="/activities"><img src="/images/home.svg" alt="" class="footer-img ft-home"></a>
      <div><a href="/search"><img src="/images/search.png" alt="" class="footer-img ft-search"></a></div>
      <div><a href="/activities/create-options"><img src="/images/add.svg" alt="" class="footer-img ft-add"></a></div>
      <div><a href="/favourites"><img src="/images/star.svg" alt="" class="footer-img ft-backpack"></a></div>
      <div><a href="/profile"><img src="/images/user.svg" alt="" class="footer-img ft-like"></a></div>
    </footer>
  {{/if}}
</body>
</html>