@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* ---- reset ---- */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F7F7F7;
  color: #282828;
}

a {
  /* text-decoration: none; */
  color: inherit;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #214E34;
}

/* ---- nav ---- */ 

.nav-container {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgb(190, 224, 217);
  margin-left: auto;
  padding-right: 15px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
}

.logo {
  font-size: 20px;
}
.logo-img {
  margin: 0 auto;
  width: 35px;
}

.logo-img-notlog {
  margin-left: 7px;
  width: 35px;
}

.welcome-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome-title {
  margin: 0px;
  color: #214E34;
}

.profile-title {
  font-size: 26px;
}

.main-title {
  font-size: 40px;
}

.logo-img-notlog {
  width: 50px;
  margin-left: 10px;
}


.user-info {
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

.logout-img {
  width: 25px;
  top: 60px;
  right: 20px;
}

.error-msg{
  color: red;
  padding-top: 90px;
  text-align: center;
}

.footer-img {
  width: 35px;
  padding-top: 5px;
}

.profile {
  margin-left: auto;
}

footer {
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 60px;
  background-color: rgb(190, 224, 217);
  width: 100%;
  justify-content: space-around;
}

section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.index-text {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.index-header {
  font-size: 20px;
}

.not-found-header {
  padding-top: 80px;
  margin: 0px;
  text-align: center;
}

.signup {
  margin: 0px;
  text-align: center;
}

.welcome {
  padding-top: 80px;
  margin: 0px;
  text-align: center;
}

input, select {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
  transition: 0.2s ease;
  height: 25px;
  width: 310px;
}

input:focus {
  border-bottom: 2px solid rgb(190, 224, 217);
  color: rgb(141, 201, 187);
  transition: 0.2s ease;
}

.login-signup-input {
  width: 200px;
}

.login-signup-form {
  margin: 5% auto;
  margin-top: 45px;
  height: 330px;
  width: 90%;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
}
.trip-form {
  margin: 5% auto;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  width: 90%;
  margin-top: 130px;
}

.activity-form {
  /*position: relative;*/
  margin: 5% auto;
  margin-top: 78px;
  width: 90%;
  height: 90%;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 550px;
}

.activity-type-select {
  font-size: 15px;
}

.trip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 400px;
  margin-top: 50px;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}



.form-title {
  font-size: 25px;
  margin-bottom: 40px;
}

select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid; 
  border-radius: 0;
  background-color: white;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
  height: 35px;
}

button:not(.favourite-btn) {
  font-size: 25px;
  padding: 5px 30px;
  border-radius: 15px;
  background-color: rgb(190, 224, 217);
  /* border-style: none; */
  /* background: white; */
  color: white;
  /* font-size: 25px;
  padding: 0px 30px;
  border-style: none;
  background: white;
  color: rgb(190, 224, 217); */
}

button:not(.favourite-btn):hover {
  background: rgb(190, 224, 217);
  color: white;
}

#logout-btn {
  background-color: inherit;
  border: 0px;
}

.star-container {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  padding-left: 24px;
}

.star-details {
  padding-left: 0px;
}

.favourite-btn {
  
  display: inline-block;
  border-style: none;
  width: 40px;
  height: 60px;
  background: inherit;
  background-image: url('../images/star.svg');
  background-size: 40px;
  background-repeat: no-repeat;
}

.yellow-star {
  background-image: url('../images/yellow-star.svg');
}



.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.btn-activity {
  font-size: 25px;
  width: 190px;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
}

.btn-trip {
  margin-top: 12px;
  font-size: 25px;
  width: 190px;
  text-align: center;
  padding: 0;
}

.btn-trip a{
  text-decoration: none;
}

.btn-activity a{
  text-decoration: none;
}

.each-activity {
  justify-content: center;
  align-items: center;
}

.each-trip {
  justify-content: center;
  align-items: center;
}

hr {
  width: 250px;
  color: gray;
  margin-top: 30px;
  margin-bottom: 30px;
 }

h2 {
  font-size: 30px;
}



.log-out {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header-create {
  font-size: 25px;
}


/* .container-img {
  width: 350px;
  height: 340px;
} */


.activity-img {
  width: 350px;
  height: 100%;
}
.activity-text {
  margin-bottom: 8px;
  margin-top: 3px;
  font-size: 20px;
}
.activity-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 25px;
  
}

.activity-location {
  margin-top: 5px;
  font-style: italic;
}

.activity-info-container {
  height: 75px;
  background-color: #edf4f4;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.activity-text-container {
  margin-top: 7px;
}

.my-profile-title {
  text-align: center;
}

/* Provisional
.create-trip-btn {
  position: absolute;
  top: 100px;
} */

.create-options {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-options-container {
  /*position: relative;*/
  margin: 5% auto;
  width: 310px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  display: flex;
}

.create-opt {
  font-size: 30px;
  padding: 20px 30px;
  border-style: none;
  background: white;
  color: rgb(141, 201, 187);
  text-align: center;
  margin: 20px;
  border-radius: 15px;
  border: 2px solid rgb(157, 224, 209);
}

a.create-opt{
  text-decoration: none;
}

.create-opt:hover {
  background: rgb(157, 224, 209);
  color: white;
  padding: 20px 30px;
  border-radius: 15px;
  align-items: center;
}

.option-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-title {
  font-size: 30px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.profile-list {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.triangle-icon {
  width: 30px;
  margin-left: 30px;
}

.hidden {
  display: none;
}

.option-index {
  padding-top: 0px;
  /*margin-top: 0px;*/
  /*margin-right: 50px;*/
}

.options-form {
  margin-top: 0px;
}

.list-title {
  font-size: 22px;
  color: #214E34;
  /* text-decoration: underline; */
}

.list-activities-title {
  font-size: 30px;
  text-align: center;
}

.activity-details-container {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.activity-bar {
  width: 350px;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
}

.activity-description {
  font-size: 20px;
  width: 350px;
}

.activity-bookmark, .details {
  width: 35px;
}

.detail-button-add {
  text-align: center;
}

option {
  font-size: 20px;
  height: 20px;
}


.signup-container {
  padding-top: 0px;
  margin: 0px;
  text-align: center;
}

.trip-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-details-text {
  text-align: center;
}

.create-edit-activity {
  padding-top: 0px;
}

.activity-bookmark {
  padding-top: 15px;
}

.remove-favourites {
  height: 50px;
  margin-top: 10px;
  border-radius: 50%;
}

.owner-name {
  color: rgb(122, 153, 147);
  text-decoration: underline;
}

.index-main {
  padding-top: 65px;
  padding-bottom: 0px;
}

.back-btn {
  font-size: 60px;
  width: 60px;
  margin-right: 60px;
  height: 60px;
  border: 0;
  background-color: inherit;
}


.search {
  height: 350px;
}

.search-section {
  padding-top: 0px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 350px;
}

.find-near-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100px;
}

.near-img {
  height: 50px;
  padding-bottom: 10px;
}

.or {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.upload-btn {
  font-size: 15px;
  color: red;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.mapboxgl-canvas-container {
  width: 200px;
  align-items: center;
}
.signout-btn {
  border:none;
  background-color: inherit;
}

.signout-form {
  align-self: flex-end;
  margin-right: 10px;
}

