<section class="index-main">
  <div class="index-text">
    <h2 class="index-header">Welcome to Guideller, the app that allows you to plan within a budget</h2>
    {{!-- <p>Blablablablablablablabla</p>
    <p>Already a member?</p>
    <p><a href="/auth/login">Log in</a></p>
    <p>Not a member?</p>
    <p><a href="/auth/signup">Sign Up</a></p> --}}
  </div>
</section>
