<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="nav-container">
    <div class="nav-item logo">GUIDELLER</div>
    {{#unless currentUser}}
    <div class="nav-item profile"><a href="/auth/signup">Sign Up</a></div>
    <div class="nav-item profile"><a href="/auth/login">Log In</a></div>
    {{else}}
    
    <div class="log-out profile">
      <div><p>{{currentUser.username}}</p></div>
      <form action="/auth/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </div>
    {{/unless}}
  </nav>
  {{{body}}}
  <footer>
    <div><a href="/"><img src="/images/home.svg" alt="" class="footer-img ft-home"></a></div>
    <div><a href="/activities"><img src="/images/search.png" alt="" class="footer-img ft-search"></a></div>
    <div><a href="/activities/create"><img src="/images/add.svg" alt="" class="footer-img ft-add"></a></div>
    <div><a href="/"><img src="/images/heart.svg" alt="" class="footer-img ft-backpack"></a></div>
    <div><a href="/activities/my"><img src="/images/profile.svg" alt="" class="footer-img ft-like"></a></div>
  </footer>
</body>
</html>