<section>
  <img src="../images/ironhack.png" alt="" class="activity-img">
  <h2 class="activity-text activity-title">Name</h2>
  <a href="">Add to trip</a>
  <p class="activity-text activity-location">Price</p>
  <img src="../images/bookmark.svg" alt="" class="activity-bookmark">
  <p class="activity-text">Type</p>
  <p class="activity-text">30€</p>
  <p class="activity-description">Blablalbalblalbalblalblablalblalballbalblalblabl</p>
</section>