<section class="create-options">
  <div class="create-options-container">
    <div class="option-links-container">
      <p class="options-title">Choose an option</p>
      <a href="/activities/create" class="create-opt top">Create activity</a>
      <a href="/trips/create" class="create-opt bottom">Create trip</a>
    </div>
  </div>
</section>