<section class="create-edit-activity">
<form method="POST" action="/activities" class="activity-form">
  <div class="activity-container">
    <h1 class="header-create">Create activity</h1>
    <div class="field">
      <input type="text" class="activity-input" name="name" placeholder="Name" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="city" placeholder="City" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="country" placeholder="Country" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="location" placeholder="Location" />
    </div>

    <div class="field">
      <select name="type" class="activity-input" placeholder="Type of activity">
        <option disabled selected>Type of activity</option>
        <option >Social</option>
        <option >Nature</option>
         <option >Museums</option>
        <option >Guides</option>
        <option >Restaurants</option>
        <option >Sport</option>
        <option >Shopping</option>
      </select>
    </div>

    <div class="field">
      <input type="number" class="activity-input" name="price" placeholder="Price" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="reservation" placeholder="Reservation URL if needed" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="description" placeholder="Description" />
    </div>

    <div class="field submit create">
      <button type="submit">Create</button>
    </div>

  </div>
</form>

{{#if messages.length}}
    <h3>{{messages}}</h3>
{{/if}}
</section>



