<section class="create-edit-activity">
<form method="POST" action="/activities" class="activity-form">
  <div class="activity-container">
    <h1>Create activity</h1>
    <div class="field">
      <input type="text" class="activity-input" name="name" placeholder="Name" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="city" placeholder="City" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="country" placeholder="Country" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="location" placeholder="Location" />
    </div>

    <div class="field">
      <select name="type" class="activity-input" placeholder="Type of activity">
        <option placeholder="title" disabled selected>Type of activity</option>
        <option placeholder="social">Social</option>
        <option placeholder="nature">Nature</option>
        <option placeholder="museums">Museums</option>
        <option placeholder="guides">Guides</option>
        <option placeholder="restaurants">Restaurants</option>
        <option placeholder="sport">Sport</option>
        <option value="shopping">Shopping</option>
      </select>
    </div>

    <div class="field">
      <input type="number" class="activity-input" name="price" placeholder="Price" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="reservation" placeholder="Reservation URL if needed" />
    </div>

    <div class="field">
      <input type="text" class="activity-input" name="description" placeholder="Description" />
    </div>

    <div class="field submit create">
      <button type="submit">Create</button>
    </div>

  </div>
</form>
</section>

