<section class="list-activities activities">
  <h1>
    Look at all the activities!
  </h1>

    {{#each activities}}
      <h2>{{this.name}}</h2>
      <p>{{this.location}}</p>
      <hr>
    {{/each}}

</section>