<form method="POST" action="/trips" class="activity-form">
  <div class="activity-container">
    <h1>Create Trip</h1>
    <div class="field">
      <input type="text" name="name" placeholder="Name"/>
    </div>

    <div class="field">
      <input type="text" name="location" placeholder="Location"/>
    </div>

    <div class="field">
      <input type="number" name="budget" placeholder="Budget"/>
    </div>

    <div class="field submit">
      <button type="submit">Create</button>
    </div>
  </div>
</form>