<form method="POST" action="/trips" class="activity-form">
  <div class="activity-container">
    <h1>Create Trip</h1>
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" />
    </div>

    <div class="field">
      <label>Location</label>
      <input type="text" name="location" />
    </div>

    <div class="field">
      <label>Budget</label>
      <input type="number" name="budget" />
    </div>

    <div class="field submit">
      <button type="submit">Create</button>
    </div>
  </div>
</form>