<section class="create-edit-activity">
  <form method="POST" action="/trips/{{trip._id}}/edit">
    <div class="trip-container">
      <h1>Edit Trip</h1>
      <div class="field">
        <input type="text" name="name" placeholder="{{trip.name}}" />
      </div>

      <div class="field">
        <input type="text" name="location" placeholder="{{trip.location}}" />
      </div>

      <div class="field">
        <input type="number" name="budget" placeholder="{{trip.budget}}" />
      </div>

      <div class="field submit create">
        <button type="submit">Create</button>
      </div>
    </div>
  </form>
</section>