<section class="create-edit-activity">
  <form method="POST" action="/trips" class="trip-form" enctype="multipart/form-data">
    <div class="trip-container">
      <h1>Create Trip</h1>
      <div class="field">
        <input type="text" name="name" placeholder="Name*" />
      </div>

      <div class="field">
        <input type="text" name="location" placeholder="Location*" />
      </div>

      <div class="field">
        <input type="number" name="budget" placeholder="Budget*" />
      </div>

      <div class="field upload-btn">
        <input type='file' class="activity-input" name='photoURL' accept="image/*"/>
      </div>

      <div class="field submit create">
        <button type="submit">Create</button>
      </div>
    </div>
  </form>

  {{#if messages.length}}
    <h3>{{messages}}</h3>
  {{/if}}
</section>